/* Basic styling for the calculator */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #8B4513; /* Changed to a SaddleBrown color */
}

.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #F5F5DC; /* Changed to a Beige color for contrast */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #8B4513; /* SaddleBrown color to match the body background */
    font-family: Arial, sans-serif;
}

input[type="text"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding:12px;
    font-size: 24px;
    background-color: #8B4513; /* Changed to a SaddleBrown color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.operator {
    background-color: #ff5722;
}

#calculate {
    background-color: #4caf50;
}
